.themify_builder_5_row.module_row_0.module_row{background-repeat: repeat; background-attachment: scroll; background-position: center center; font-size:.9em; }
.themify_builder_5_row.module_row_0.module_row>div.row_inner{background-repeat: repeat; background-attachment: scroll; background-position: center center; }
.module_row_0 .module_column_0 .sub_row_0-0-0.module_subrow{padding-top:10px; padding-bottom:10px; }
@media screen and (max-width: 768px) {.sub_column_post_5.sub_column_0-0-0-0.module_column{text-align: left; }
}
@media screen and (max-width: 680px) {.sub_column_post_5.sub_column_0-0-0-0.module_column{text-align: left; }
}
.themify_builder .icon-5-sub_row_0-0-0-0-0 div.module-icon{background-repeat: repeat; background-position: left top; color:#000000; text-align: right; margin-left:30px; }
.themify_builder .icon-5-sub_row_0-0-0-0-0 div.module-icon .module-icon-item i{color:#000000; }
@media screen and (max-width: 1280px) {.themify_builder .icon-5-sub_row_0-0-0-0-0 div.module-icon{margin-left:0px; }
}
@media screen and (max-width: 680px) {.themify_builder .icon-5-sub_row_0-0-0-0-0 div.module-icon{margin-left:0px; }
}
.sub_column_post_5.sub_column_0-0-0-1.module_column{background-repeat: repeat; background-attachment: scroll; background-position: center center; text-align: right; }
.sub_column_post_5.sub_column_0-0-0-1.module_column>div.tb-column-inner,.sub_column_post_5.sub_column_0-0-0-1.module_column>.tb_holder{background-repeat: repeat; background-attachment: scroll; background-position: center center; }
@media screen and (max-width: 1280px) {.sub_column_post_5.sub_column_0-0-0-1.module_column{text-align: left; }
}
@media screen and (max-width: 768px) {.sub_column_post_5.sub_column_0-0-0-1.module_column{text-align: left; }
}
@media screen and (max-width: 680px) {.sub_column_post_5.sub_column_0-0-0-1.module_column{text-align: left; }
}
.themify_builder .icon-5-sub_row_0-0-0-2-0 div.module-icon{color:#ffffff; margin-right:40px; }
.themify_builder .icon-5-sub_row_0-0-0-2-0 div.module-icon span,.themify_builder .icon-5-sub_row_0-0-0-2-0 div.module-icon i{color:#000000; }
.themify_builder .icon-5-sub_row_0-0-0-2-0 div.module-icon .module-icon-item i{color:#000000; }
@media screen and (max-width: 680px) {.themify_builder .icon-5-sub_row_0-0-0-2-0 div.module-icon{margin-left:0px; }
}
.module_row_0 .module_column_0 .sub_row_0-0-1.module_subrow{background-repeat: repeat; background-attachment: scroll; background-position: center center; text-align: center; padding-top:30px; padding-bottom:30px; }
.module_row_0 .module_column_0 .sub_row_0-0-1.module_subrow>div.subrow_inner{background-repeat: repeat; background-attachment: scroll; background-position: center center; }
@media screen and (max-width: 768px) {.sub_column_post_5.sub_column_0-0-1-0.module_column{text-align: left; }
}
@media screen and (max-width: 680px) {.sub_column_post_5.sub_column_0-0-1-0.module_column{text-align: left; }
}
.sub_column_post_5.sub_column_0-0-1-1.module_column{background-repeat: repeat; background-attachment: scroll; background-position: center center; text-align: center; }
.sub_column_post_5.sub_column_0-0-1-1.module_column>div.tb-column-inner,.sub_column_post_5.sub_column_0-0-1-1.module_column>.tb_holder{background-repeat: repeat; background-attachment: scroll; background-position: center center; }
@media screen and (max-width: 1280px) {.sub_column_post_5.sub_column_0-0-1-1.module_column{text-align: left; }
}
@media screen and (max-width: 768px) {.sub_column_post_5.sub_column_0-0-1-1.module_column{text-align: left; }
}
@media screen and (max-width: 680px) {.sub_column_post_5.sub_column_0-0-1-1.module_column{text-align: left; }
}
.themify_builder .text-5-sub_row_0-0-1-1-0.module-text{background-repeat: repeat; background-position: left top; font-size:36px; letter-spacing:3px; text-align: center; text-transform: uppercase; margin-top:20px; margin-bottom:20px; }
.themify_builder .text-5-sub_row_0-0-1-1-0.module-text,.themify_builder .text-5-sub_row_0-0-1-1-0.module-text h1,.themify_builder .text-5-sub_row_0-0-1-1-0.module-text h2,.themify_builder .text-5-sub_row_0-0-1-1-0.module-text h3:not(.module-title),.themify_builder .text-5-sub_row_0-0-1-1-0.module-text h4,.themify_builder .text-5-sub_row_0-0-1-1-0.module-text h5,.themify_builder .text-5-sub_row_0-0-1-1-0.module-text h6{font-family: Cardo; font-weight: 400; }
.themify_builder .text-5-sub_row_0-0-1-1-0.module-text p{margin-top:0px; margin-bottom:0px; }
.themify_builder .text-5-sub_row_0-0-1-1-0.module-text a{color:#000000; }
@media screen and (max-width: 1280px) {.themify_builder .text-5-sub_row_0-0-1-1-0.module-text{margin-left:0px; }
}
@media screen and (max-width: 768px) {.themify_builder .text-5-sub_row_0-0-1-1-0.module-text{text-align: left; margin-left:0px; }
}
@media screen and (max-width: 680px) {.themify_builder .text-5-sub_row_0-0-1-1-0.module-text{background-repeat: repeat; background-position: left top; font-size:22px; letter-spacing:2px; text-align: left; text-transform: uppercase; margin-top:5px; margin-bottom:5px; }
.themify_builder .text-5-sub_row_0-0-1-1-0.module-text,.themify_builder .text-5-sub_row_0-0-1-1-0.module-text h1,.themify_builder .text-5-sub_row_0-0-1-1-0.module-text h2,.themify_builder .text-5-sub_row_0-0-1-1-0.module-text h3:not(.module-title),.themify_builder .text-5-sub_row_0-0-1-1-0.module-text h4,.themify_builder .text-5-sub_row_0-0-1-1-0.module-text h5,.themify_builder .text-5-sub_row_0-0-1-1-0.module-text h6{font-family: Cardo; font-weight: 400; }
}
.module_row_0 .module_column_0 .sub_row_0-0-2.module_subrow{background-repeat: repeat; background-attachment: scroll; background-position: center center; background-color:#ebebeb; text-align: center; padding-top:10px; padding-bottom:10px; }
.module_row_0 .module_column_0 .sub_row_0-0-2.module_subrow>div.subrow_inner{background-repeat: repeat; background-attachment: scroll; background-position: center center; }
@media screen and (max-width: 768px) {.sub_column_post_5.sub_column_0-0-2-0.module_column{text-align: left; }
}
@media screen and (max-width: 680px) {.sub_column_post_5.sub_column_0-0-2-0.module_column{text-align: left; }
}
.sub_column_post_5.sub_column_0-0-2-1.module_column{background-repeat: repeat; background-attachment: scroll; background-position: center center; text-align: center; }
.sub_column_post_5.sub_column_0-0-2-1.module_column>div.tb-column-inner,.sub_column_post_5.sub_column_0-0-2-1.module_column>.tb_holder{background-repeat: repeat; background-attachment: scroll; background-position: center center; }
@media screen and (max-width: 1280px) {.sub_column_post_5.sub_column_0-0-2-1.module_column{text-align: left; }
}
@media screen and (max-width: 768px) {.sub_column_post_5.sub_column_0-0-2-1.module_column{text-align: left; }
}
@media screen and (max-width: 680px) {.sub_column_post_5.sub_column_0-0-2-1.module_column{text-align: left; }
}
